//Set up normal fonts as proxima, and headers as futura
*{
	font-family:$proxima;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $futura;
}


//MEDIA QUERIES

//PHONE PORTRAIT 
//	below 480px
@media only screen and (max-width: 30em) { 
	.row {
		padding: 0 10px;
	}

	.columns, .column {
		padding-left: rem-calc(5);
		padding-right: rem-calc(5);
	}


} 


//PHONE LANDSCAPE  
//	480px - 768px
@media only screen and (min-width: 30.063em) and (max-width: 48em) { 
	.row {
		padding: 0 4px;
	}


	.columns, .column {
		padding-left: rem-calc(8);
		padding-right: rem-calc(8);
	}

} 


//TABLET PORTRAIT  
//	768px - 1024px
@media only screen and (min-width: 48.063em) and (max-width: 64em) { 
	.row {
		padding: 0 28px;
	}

	.columns, .column {
		padding-left: rem-calc(11);
		padding-right: rem-calc(11);
	}


}


//TABLET LANDSCAPE    
//	1024px - 1366px
@media only screen and (min-width: 64.063em) and (max-width: 85em) { 
	.row {
		padding: 0 14px;
	}


	.columns, .column {
		padding-left: rem-calc(18);
		padding-right: rem-calc(18);
	}

} 



//DESKTOP   
//	1366px and above
@media only screen and (min-width: 85.063em)  { 
	.row {
		padding: 0 15px;
	}
	.columns, .column {
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
	}
} 










//GRID BUTTON and GRID VIEW

#fixie {
	position: fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:10;
	.row {
		background: rgba(255,0,0,.2);
	}
	.columns {
		//background: rgba(255,0,0,.2);
		.red {
			background: red;
			opacity: .2;
		}
	}
} 
#grid-button {
	position: fixed;
	right:50px;
	bottom: 50px;
	z-index:15;
}