//FONT SIZE
	
	// To make changes here just change the number in "rem-calc(100)" 
	// to the pixel number you'd like to see
		
		//FUTURA
			//Futura Mobile font size
			$h1-mobile-futura-size: rem-calc(60);
			$h2-mobile-futura-size: rem-calc(48);
			$h3-mobile-futura-size: rem-calc(36);
			$h4-mobile-futura-size: rem-calc(30);
			$h5-mobile-futura-size: rem-calc(20);
			$h6-mobile-futura-size: rem-calc(18);
			$paragraph-mobile-futura-size: rem-calc(16);
			$caption-mobile-futura-size: rem-calc(15);

			//Futura Mobile line-height
			$h1-mobile-futura-line-height: rem-calc(72);
			$h2-mobile-futura-line-height: rem-calc(54);
			$h3-mobile-futura-line-height: rem-calc(42);
			$h4-mobile-futura-line-height: rem-calc(36);
			$h5-mobile-futura-line-height: rem-calc(30);
			$h6-mobile-futura-line-height: rem-calc(27);
			$paragraph-mobile-futura-line-height: rem-calc(24);
			$caption-mobile-futura-line-height: rem-calc(18);


			//Futura Tablet font size
			$h1-tablet-futura-size: rem-calc(60);
			$h2-tablet-futura-size: rem-calc(48);
			$h3-tablet-futura-size: rem-calc(36);
			$h4-tablet-futura-size: rem-calc(30);
			$h5-tablet-futura-size: rem-calc(20);
			$h6-tablet-futura-size: rem-calc(18);
			$paragraph-tablet-futura-size: rem-calc(16);
			$caption-tablet-futura-size: rem-calc(15);

			//Futura Tablet line-height
			$h1-tablet-futura-line-height: rem-calc(72);
			$h2-tablet-futura-line-height: rem-calc(54);
			$h3-tablet-futura-line-height: rem-calc(42);
			$h4-tablet-futura-line-height: rem-calc(36);
			$h5-tablet-futura-line-height: rem-calc(30);
			$h6-tablet-futura-line-height: rem-calc(27);
			$paragraph-tablet-futura-line-height: rem-calc(24);
			$caption-tablet-futura-line-height: rem-calc(18);


			//Futura Desktop font size
			$h1-desktop-futura-size: rem-calc(60);
			$h2-desktop-futura-size: rem-calc(48);
			$h3-desktop-futura-size: rem-calc(36);
			$h4-desktop-futura-size: rem-calc(30);
			$h5-desktop-futura-size: rem-calc(20);
			$h6-desktop-futura-size: rem-calc(18);
			$paragraph-desktop-futura-size: rem-calc(16);
			$caption-desktop-futura-size: rem-calc(15);

			//Futura Desktop line-height
			$h1-desktop-futura-line-height: rem-calc(72);
			$h2-desktop-futura-line-height: rem-calc(54);
			$h3-desktop-futura-line-height: rem-calc(42);
			$h4-desktop-futura-line-height: rem-calc(36);
			$h5-desktop-futura-line-height: rem-calc(30);
			$h6-desktop-futura-line-height: rem-calc(27);
			$paragraph-desktop-futura-line-height: rem-calc(24);
			$caption-desktop-futura-line-height: rem-calc(18);

			//Futura XL Desktop font size
			$h1-xl-desktop-futura-size: rem-calc(60);
			$h2-xl-desktop-futura-size: rem-calc(48);
			$h3-xl-desktop-futura-size: rem-calc(36);
			$h4-xl-desktop-futura-size: rem-calc(30);
			$h5-xl-desktop-futura-size: rem-calc(20);
			$h6-xl-desktop-futura-size: rem-calc(18);
			$paragraph-xl-desktop-futura-size: rem-calc(16);
			$caption-xl-desktop-futura-size: rem-calc(15);

			//Futura XL Desktop line-height
			$h1-xl-desktop-futura-line-height: rem-calc(72);
			$h2-xl-desktop-futura-line-height: rem-calc(54);
			$h3-xl-desktop-futura-line-height: rem-calc(42);
			$h4-xl-desktop-futura-line-height: rem-calc(36);
			$h5-xl-desktop-futura-line-height: rem-calc(30);
			$h6-xl-desktop-futura-line-height: rem-calc(27);
			$paragraph-xl-desktop-futura-line-height: rem-calc(24);
			$caption-xl-desktop-futura-line-height: rem-calc(18);

		//PROXIMA
			//Proxima Mobile font size
			$h1-mobile-proxima-size: rem-calc(60);
			$h2-mobile-proxima-size: rem-calc(44);
			$h3-mobile-proxima-size: rem-calc(34);
			$h4-mobile-proxima-size: rem-calc(28);
			$h5-mobile-proxima-size: rem-calc(24);
			$h6-mobile-proxima-size: rem-calc(18);
			$paragraph-mobile-proxima-size: rem-calc(16);
			$caption-mobile-proxima-size: rem-calc(14);

			//Proxima Mobile line-height
			$h1-mobile-proxima-line-height: rem-calc(72);
			$h2-mobile-proxima-line-height: rem-calc(54);
			$h3-mobile-proxima-line-height: rem-calc(42);
			$h4-mobile-proxima-line-height: rem-calc(36);
			$h5-mobile-proxima-line-height: rem-calc(30);
			$h6-mobile-proxima-line-height: rem-calc(27);
			$paragraph-mobile-proxima-line-height: rem-calc(24);
			$caption-mobile-proxima-line-height: rem-calc(18);


			//Proxima Tablet font size
			$h1-tablet-proxima-size: rem-calc(60);
			$h2-tablet-proxima-size: rem-calc(44);
			$h3-tablet-proxima-size: rem-calc(34);
			$h4-tablet-proxima-size: rem-calc(28);
			$h5-tablet-proxima-size: rem-calc(24);
			$h6-tablet-proxima-size: rem-calc(18);
			$paragraph-tablet-proxima-size: rem-calc(16);
			$caption-tablet-proxima-size: rem-calc(14);

			//Proxima Tablet line-height
			$h1-tablet-proxima-line-height: rem-calc(72);
			$h2-tablet-proxima-line-height: rem-calc(54);
			$h3-tablet-proxima-line-height: rem-calc(42);
			$h4-tablet-proxima-line-height: rem-calc(36);
			$h5-tablet-proxima-line-height: rem-calc(30);
			$h6-tablet-proxima-line-height: rem-calc(27);
			$paragraph-tablet-proxima-line-height: rem-calc(24);
			$caption-tablet-proxima-line-height: rem-calc(18);


			//Proxima Desktop font size
			$h1-desktop-proxima-size: rem-calc(60);
			$h2-desktop-proxima-size: rem-calc(44);
			$h3-desktop-proxima-size: rem-calc(34);
			$h4-desktop-proxima-size: rem-calc(28);
			$h5-desktop-proxima-size: rem-calc(24);
			$h6-desktop-proxima-size: rem-calc(18);
			$paragraph-desktop-proxima-size: rem-calc(16);
			$caption-desktop-proxima-size: rem-calc(14);

			//Proxima Desktop line-height
			$h1-desktop-proxima-line-height: rem-calc(72);
			$h2-desktop-proxima-line-height: rem-calc(54);
			$h3-desktop-proxima-line-height: rem-calc(42);
			$h4-desktop-proxima-line-height: rem-calc(36);
			$h5-desktop-proxima-line-height: rem-calc(30);
			$h6-desktop-proxima-line-height: rem-calc(27);
			$paragraph-desktop-proxima-line-height: rem-calc(24);
			$caption-desktop-proxima-line-height: rem-calc(18);

			//Proxima XL Desktop font size
			$h1-xl-desktop-proxima-size: rem-calc(60);
			$h2-xl-desktop-proxima-size: rem-calc(44);
			$h3-xl-desktop-proxima-size: rem-calc(34);
			$h4-xl-desktop-proxima-size: rem-calc(28);
			$h5-xl-desktop-proxima-size: rem-calc(24);
			$h6-xl-desktop-proxima-size: rem-calc(18);
			$paragraph-xl-desktop-proxima-size: rem-calc(16);
			$caption-xl-desktop-proxima-size: rem-calc(14);

			//Proxima XL Desktop line-height
			$h1-xl-desktop-proxima-line-height: rem-calc(72);
			$h2-xl-desktop-proxima-line-height: rem-calc(54);
			$h3-xl-desktop-proxima-line-height: rem-calc(42);
			$h4-xl-desktop-proxima-line-height: rem-calc(36);
			$h5-xl-desktop-proxima-line-height: rem-calc(30);
			$h6-xl-desktop-proxima-line-height: rem-calc(27);
			$paragraph-xl-desktop-proxima-line-height: rem-calc(200);
			$caption-xl-desktop-proxima-line-height: rem-calc(18);

//COLORS
body {
	background: #003b1b;
	margin-top:56px;
}

//FONTS
*{
	font-family:$proxima;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $futura;
	span {
		font-family: $futura;
	}
	a {
		display: none;
	}
}
 h1 {
 	position: absolute;
 	top:-150px;
 	left:0;
 	right:0;
 	text-align: center;
 	span {
 		display: block;
 		font-size: 1rem;
 	}
 	&:after {
 		background:green;
 		//content: 'Edit';
 		position: absolute;
 		top:10px;
 		right:50%;
 		margin-right:-242px;
 		width:70px;
 		height:35px;
 		font-family: $proxima;
 		font-size: 1.2rem;
 		line-height: 35px;
 		border-radius:3px;
 	}
 }

// IMAGES

.thumbinner{ 
	padding-left:0 !important;
	padding-right: 20px !important;
	img {
		width:100%;
		height:auto;
	}
	.thumbcaption {
		opacity: .8;
		margin:10px 0 20px;
	}
}
// WIKIA HEADER 
.wikia-header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background:#fff;
	z-index:10;
	img {
		margin: 0 auto;
		display: block;
		max-height: 56px;
	}
}
// HEADER IMG
.header {
	height:500px;
	overflow:hidden;
	margin-bottom:30px;
	padding:0 !important;
	.columns {
		padding:0 !important;
	}
	.header_img {
		//position: absolute;
		left:-35px;
		right:-35px;
		height:500px;
		overflow:hidden;
		img {
			width: 100%;

		}
	}
	.wordmark {
		position:absolute;
		top:5px;
		left:10px;
	}
}

// TEMPLATE & AD
.bbbg {
	.border {
		border: 1px solid rgba(255,255,255,.5);
	}
	table {
		width:100%;
		border: none;
		margin-bottom: 0;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 90%;
			bottom:0;
			left: 5%;
			height:1px;
			background: rgba(255,255,255,.5);
		}
		td {
			padding-top:0.25em;
			padding-bottom:0;
		}
		td:first-child {
			width:30%;
			text-align: right;
			b {
				font-family: $proxima_bold;
			}
		}
		td:last-child {
			width:70%;
		}
	}
	#img {
		width: 100%;
		height: 350px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.ad {
	text-align:center;
	margin-bottom:10px;
	div {
		margin:10px 0;
		text-align: center;
		font-size: .7rem;
	}
}
#infobox {
	padding-right:0;
}


//MEDIA QUERIES

//PHONE PORTRAIT 
//	below 480px
@media only screen and (max-width: 30em) { 
	.row {
		padding: 0 15px;
	}

	.columns, .column {
		padding-left: rem-calc(5);
		padding-right: rem-calc(5);
	}

	.header {
		height:200px;
	}
	h1:after {
		display: none;
	}
	h1 {
		font-size: $h1-mobile-futura-size;
		line-height: $h1-mobile-futura-line-height;
		span {
			font-size: $h1-mobile-futura-size;
			line-height: $h1-mobile-futura-line-height;
		}
	}
	h2 {
		font-size: $h2-mobile-futura-size;
		line-height: $h2-mobile-futura-line-height;
		span {
			font-size: $h2-mobile-futura-size;
			line-height: $h2-mobile-futura-line-height;
		}
	}
	h3 {
		font-size: $h3-mobile-futura-size;
		line-height: $h3-mobile-futura-line-height;
		span {
			font-size: $h3-mobile-futura-size;
			line-height: $h3-mobile-futura-line-height;
		}
	}
	h4 {
		font-size: $h4-mobile-futura-size;
		line-height: $h4-mobile-futura-line-height;
		span {
			font-size: $h4-mobile-futura-size;
			line-height: $h4-mobile-futura-line-height;
		}
	}
	h5 {
		font-size: $h5-mobile-futura-size;
		line-height: $h5-mobile-futura-line-height;
		span {
			font-size: $h5-mobile-futura-size;
			line-height: $h5-mobile-futura-line-height;
		}
	}
	h6 {
		font-size: $h6-mobile-futura-size;
		line-height: $h6-mobile-futura-line-height;
		span {
			font-size: $h6-mobile-futura-size;
			line-height: $h6-mobile-futura-line-height;
		}
	}
	div,p,span {
		font-size: $paragraph-mobile-proxima-size;
		line-height: $paragraph-mobile-proxima-line-height;
	}
	figcaption {
		font-size: $caption-mobile-proxima-size;
		line-height: $caption-mobile-proxima-line-height;
	}
} 


//PHONE LANDSCAPE  
//	480px - 768px
@media only screen and (min-width: 30.063em) and (max-width: 48em) { 
	.row {
		padding: 0 12px;
	}


	.columns, .column {
		padding-left: rem-calc(8);
		padding-right: rem-calc(8);
	}
	.header {
		height:250px;
	}

	h1:after {
		display: none;
	}
	h1 {
		font-size: $h1-tablet-futura-size;
		line-height: $h1-tablet-futura-line-height;
		span {
			font-size: $h1-tablet-futura-size;
			line-height: $h1-tablet-futura-line-height;
		}
	}
	h2 {
		font-size: $h2-tablet-futura-size;
		line-height: $h2-tablet-futura-line-height;
		span {
			font-size: $h2-tablet-futura-size;
			line-height: $h2-tablet-futura-line-height;
		}
	}
	h3 {
		font-size: $h3-tablet-futura-size;
		line-height: $h3-tablet-futura-line-height;
		span {
			font-size: $h3-tablet-futura-size;
			line-height: $h3-tablet-futura-line-height;
		}
	}
	h4 {
		font-size: $h4-tablet-futura-size;
		line-height: $h4-tablet-futura-line-height;
		span {
			font-size: $h4-tablet-futura-size;
			line-height: $h4-tablet-futura-line-height;
		}
	}
	h5 {
		font-size: $h5-tablet-futura-size;
		line-height: $h5-tablet-futura-line-height;
		span {
			font-size: $h5-tablet-futura-size;
			line-height: $h5-tablet-futura-line-height;
		}
	}
	h6 {
		font-size: $h6-tablet-futura-size;
		line-height: $h6-tablet-futura-line-height;
		span {
			font-size: $h6-tablet-futura-size;
			line-height: $h6-tablet-futura-line-height;
		}
	}
	div,p,span {
		font-size: $paragraph-tablet-proxima-size;
		line-height: $paragraph-tablet-proxima-line-height;
	}
	figcaption {
		font-size: $caption-tablet-proxima-size;
		line-height: $caption-tablet-proxima-line-height;
	}
} 


//TABLET PORTRAIT  
//	768px - 1024px
@media only screen and (min-width: 48.063em) and (max-width: 64em) { 
	.row {
		padding: 0 39px;
	}

	.columns, .column {
		padding-left: rem-calc(11);
		padding-right: rem-calc(11);
	}
	.header {
		height:300px;
	}

	h1:after {
		display: none;
	}
	h1 {
		font-size: $h1-tablet-futura-size;
		line-height: $h1-tablet-futura-line-height;
	}
	h2 {
		font-size: $h2-tablet-futura-size;
		line-height: $h2-tablet-futura-line-height;
	}
	h3 {
		font-size: $h3-tablet-futura-size;
		line-height: $h3-tablet-futura-line-height;
	}
	h4 {
		font-size: $h4-tablet-futura-size;
		line-height: $h4-tablet-futura-line-height;
	}
	h5 {
		font-size: $h5-tablet-futura-size;
		line-height: $h5-tablet-futura-line-height;
	}
	h6 {
		font-size: $h6-tablet-futura-size;
		line-height: $h6-tablet-futura-line-height;
	}
	div,p,span {
		font-size: $paragraph-tablet-proxima-size;
		line-height: $paragraph-tablet-proxima-line-height;
	}
	figcaption {
		font-size: $caption-tablet-proxima-size;
		line-height: $caption-tablet-proxima-line-height;
	}

}


//DESKTOP    
//	1024px - 1366px
@media only screen and (min-width: 64.063em) and (max-width: 85em) { 
	.row {
		padding: 0 32px;
	}


	.columns, .column {
		padding-left: rem-calc(18);
		padding-right: rem-calc(18);
	}
	.header {
		height:400px;
	}
	h1 {
		font-size: $h1-desktop-futura-size;
		line-height: $h1-desktop-futura-line-height;
		span {
			font-size: $h1-desktop-futura-size;
			line-height: $h1-desktop-futura-line-height;
		}
	}
	h2 {
		font-size: $h2-desktop-futura-size;
		line-height: $h2-desktop-futura-line-height;
		span {
			font-size: $h2-desktop-futura-size;
			line-height: $h2-desktop-futura-line-height;
		}
	}
	h3 {
		font-size: $h3-desktop-futura-size;
		line-height: $h3-desktop-futura-line-height;
		span {
			font-size: $h3-desktop-futura-size;
			line-height: $h3-desktop-futura-line-height;
		}
	}
	h4 {
		font-size: $h4-desktop-futura-size;
		line-height: $h4-desktop-futura-line-height;
		span {
			font-size: $h4-desktop-futura-size;
			line-height: $h4-desktop-futura-line-height;
		}
	}
	h5 {
		font-size: $h5-desktop-futura-size;
		line-height: $h5-desktop-futura-line-height;
		span {
			font-size: $h5-desktop-futura-size;
			line-height: $h5-desktop-futura-line-height;
		}
	}
	h6 {
		font-size: $h6-desktop-futura-size;
		line-height: $h6-desktop-futura-line-height;
		span {
			font-size: $h6-desktop-futura-size;
			line-height: $h6-desktop-futura-line-height;
		}
	}
	div,p,span {
		font-size: $paragraph-desktop-proxima-size;
		line-height: $paragraph-desktop-proxima-line-height;
	}
	figcaption {
		font-size: $caption-desktop-proxima-size;
		line-height: $caption-desktop-proxima-line-height;
	}

} 



//XL DESKTOP   
//	1366px and above
@media only screen and (min-width: 85.063em)  { 
	.row {
		padding: 0 35px;
	}
	.columns, .column {
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
	}
	h1 {
		font-size: $h1-desktop-futura-size;
		line-height: $h1-desktop-futura-line-height;
		span {
			font-size: $h1-desktop-futura-size;
			line-height: $h1-desktop-futura-line-height;
		}
	}
	h2 {
		font-size: $h2-desktop-futura-size;
		line-height: $h2-desktop-futura-line-height;
		span {
			font-size: $h2-desktop-futura-size;
			line-height: $h2-desktop-futura-line-height;
		}
	}
	h3 {
		font-size: $h3-desktop-futura-size;
		line-height: $h3-desktop-futura-line-height;
		span {
			font-size: $h3-desktop-futura-size;
			line-height: $h3-desktop-futura-line-height;
		}
	}
	h4 {
		font-size: $h4-desktop-futura-size;
		line-height: $h4-desktop-futura-line-height;
		span {
			font-size: $h4-desktop-futura-size;
			line-height: $h4-desktop-futura-line-height;
		}
	}
	h5 {
		font-size: $h5-desktop-futura-size;
		line-height: $h5-desktop-futura-line-height;
		span {
			font-size: $h5-desktop-futura-size;
			line-height: $h5-desktop-futura-line-height;
		}
	}
	h6 {
		font-size: $h6-desktop-futura-size;
		line-height: $h6-desktop-futura-line-height;
		span {
			font-size: $h6-desktop-futura-size;
			line-height: $h6-desktop-futura-line-height;
		}
	}
	div,p,span {
		font-size: $paragraph-desktop-proxima-size;
		line-height: $paragraph-desktop-proxima-line-height;
	}
	figcaption {
		font-size: $caption-desktop-proxima-size;
		line-height: $caption-desktop-proxima-line-height;
	}
} 










//GRID BUTTON and GRID VIEW

#fixie {
	position: fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:10;
	display:none;
	.row {
		background: rgba(255,0,0,.2);
	}
	.columns {
		//background: rgba(255,0,0,.2);
		.red {
			background: red;
			opacity: .2;
		}
	}
} 
#grid-button {
	position: fixed;
	right:50px;
	bottom: 50px;
	z-index:15;
	display:none;
}