//FONT SIZE
    
    // To make changes here just change the number in "rem-calc(100)" 
    // to the pixel number you'd like to see
        
        //MOBILE
            //Futura Mobile font size
            $h1-mobile-futura-size: rem-calc(60);
            $h2-mobile-futura-size: rem-calc(48);
            $h3-mobile-futura-size: rem-calc(36);
            $h4-mobile-futura-size: rem-calc(30);
            $h5-mobile-futura-size: rem-calc(20);
            $h6-mobile-futura-size: rem-calc(18);
            $paragraph-mobile-futura-size: rem-calc(16);
            $caption-mobile-futura-size: rem-calc(15);

            //Futura Mobile line-height
            $h1-mobile-futura-line-height: rem-calc(72);
            $h2-mobile-futura-line-height: rem-calc(54);
            $h3-mobile-futura-line-height: rem-calc(42);
            $h4-mobile-futura-line-height: rem-calc(36);
            $h5-mobile-futura-line-height: rem-calc(30);
            $h6-mobile-futura-line-height: rem-calc(27);
            $paragraph-mobile-futura-line-height: rem-calc(24);
            $caption-mobile-futura-line-height: rem-calc(18);

            //Proxima Mobile font size
            $h1-mobile-proxima-size: rem-calc(60);
            $h2-mobile-proxima-size: rem-calc(44);
            $h3-mobile-proxima-size: rem-calc(34);
            $h4-mobile-proxima-size: rem-calc(28);
            $h5-mobile-proxima-size: rem-calc(24);
            $h6-mobile-proxima-size: rem-calc(18);
            $paragraph-mobile-proxima-size: rem-calc(16);
            $caption-mobile-proxima-size: rem-calc(14);

            //Proxima Mobile line-height
            $h1-mobile-proxima-line-height: rem-calc(72);
            $h2-mobile-proxima-line-height: rem-calc(54);
            $h3-mobile-proxima-line-height: rem-calc(42);
            $h4-mobile-proxima-line-height: rem-calc(36);
            $h5-mobile-proxima-line-height: rem-calc(30);
            $h6-mobile-proxima-line-height: rem-calc(27);
            $paragraph-mobile-proxima-line-height: rem-calc(24);
            $caption-mobile-proxima-line-height: rem-calc(18);

        //TABLET
            //Futura Tablet font size
            $h1-tablet-futura-size: rem-calc(60);
            $h2-tablet-futura-size: rem-calc(48);
            $h3-tablet-futura-size: rem-calc(36);
            $h4-tablet-futura-size: rem-calc(30);
            $h5-tablet-futura-size: rem-calc(20);
            $h6-tablet-futura-size: rem-calc(18);
            $paragraph-tablet-futura-size: rem-calc(16);
            $caption-tablet-futura-size: rem-calc(15);

            //Futura Tablet line-height
            $h1-tablet-futura-line-height: rem-calc(72);
            $h2-tablet-futura-line-height: rem-calc(54);
            $h3-tablet-futura-line-height: rem-calc(42);
            $h4-tablet-futura-line-height: rem-calc(36);
            $h5-tablet-futura-line-height: rem-calc(30);
            $h6-tablet-futura-line-height: rem-calc(27);
            $paragraph-tablet-futura-line-height: rem-calc(24);
            $caption-tablet-futura-line-height: rem-calc(18);

            //Proxima Tablet font size
            $h1-tablet-proxima-size: rem-calc(60);
            $h2-tablet-proxima-size: rem-calc(44);
            $h3-tablet-proxima-size: rem-calc(34);
            $h4-tablet-proxima-size: rem-calc(28);
            $h5-tablet-proxima-size: rem-calc(24);
            $h6-tablet-proxima-size: rem-calc(18);
            $paragraph-tablet-proxima-size: rem-calc(16);
            $caption-tablet-proxima-size: rem-calc(14);

            //Proxima Tablet line-height
            $h1-tablet-proxima-line-height: rem-calc(72);
            $h2-tablet-proxima-line-height: rem-calc(54);
            $h3-tablet-proxima-line-height: rem-calc(42);
            $h4-tablet-proxima-line-height: rem-calc(36);
            $h5-tablet-proxima-line-height: rem-calc(30);
            $h6-tablet-proxima-line-height: rem-calc(27);
            $paragraph-tablet-proxima-line-height: rem-calc(24);
            $caption-tablet-proxima-line-height: rem-calc(18);


        //DESKTOP
            //Futura Desktop font size
            $h1-desktop-futura-size: rem-calc(60);
            $h2-desktop-futura-size: rem-calc(48);
            $h3-desktop-futura-size: rem-calc(36);
            $h4-desktop-futura-size: rem-calc(30);
            $h5-desktop-futura-size: rem-calc(20);
            $h6-desktop-futura-size: rem-calc(18);
            $paragraph-desktop-futura-size: rem-calc(16);
            $caption-desktop-futura-size: rem-calc(15);

            //Futura Desktop line-height
            $h1-desktop-futura-line-height: rem-calc(72);
            $h2-desktop-futura-line-height: rem-calc(54);
            $h3-desktop-futura-line-height: rem-calc(42);
            $h4-desktop-futura-line-height: rem-calc(36);
            $h5-desktop-futura-line-height: rem-calc(30);
            $h6-desktop-futura-line-height: rem-calc(27);
            $paragraph-desktop-futura-line-height: rem-calc(24);
            $caption-desktop-futura-line-height: rem-calc(18);

            //Proxima Desktop font size
            $h1-desktop-proxima-size: rem-calc(60);
            $h2-desktop-proxima-size: rem-calc(44);
            $h3-desktop-proxima-size: rem-calc(34);
            $h4-desktop-proxima-size: rem-calc(28);
            $h5-desktop-proxima-size: rem-calc(24);
            $h6-desktop-proxima-size: rem-calc(18);
            $paragraph-desktop-proxima-size: rem-calc(16);
            $caption-desktop-proxima-size: rem-calc(14);

            //Proxima Desktop line-height
            $h1-desktop-proxima-line-height: rem-calc(72);
            $h2-desktop-proxima-line-height: rem-calc(54);
            $h3-desktop-proxima-line-height: rem-calc(42);
            $h4-desktop-proxima-line-height: rem-calc(36);
            $h5-desktop-proxima-line-height: rem-calc(30);
            $h6-desktop-proxima-line-height: rem-calc(27);
            $paragraph-desktop-proxima-line-height: rem-calc(24);
            $caption-desktop-proxima-line-height: rem-calc(18);


        //XL DESKTOP
            //Futura XL Desktop font size
            $h1-xl-desktop-futura-size: rem-calc(60);
            $h2-xl-desktop-futura-size: rem-calc(48);
            $h3-xl-desktop-futura-size: rem-calc(36);
            $h4-xl-desktop-futura-size: rem-calc(30);
            $h5-xl-desktop-futura-size: rem-calc(20);
            $h6-xl-desktop-futura-size: rem-calc(18);
            $paragraph-xl-desktop-futura-size: rem-calc(16);
            $caption-xl-desktop-futura-size: rem-calc(15);

            //Futura XL Desktop line-height
            $h1-xl-desktop-futura-line-height: rem-calc(72);
            $h2-xl-desktop-futura-line-height: rem-calc(54);
            $h3-xl-desktop-futura-line-height: rem-calc(42);
            $h4-xl-desktop-futura-line-height: rem-calc(36);
            $h5-xl-desktop-futura-line-height: rem-calc(30);
            $h6-xl-desktop-futura-line-height: rem-calc(27);
            $paragraph-xl-desktop-futura-line-height: rem-calc(24);
            $caption-xl-desktop-futura-line-height: rem-calc(18);

            //Proxima XL Desktop font size
            $h1-xl-desktop-proxima-size: rem-calc(60);
            $h2-xl-desktop-proxima-size: rem-calc(44);
            $h3-xl-desktop-proxima-size: rem-calc(34);
            $h4-xl-desktop-proxima-size: rem-calc(28);
            $h5-xl-desktop-proxima-size: rem-calc(24);
            $h6-xl-desktop-proxima-size: rem-calc(18);
            $paragraph-xl-desktop-proxima-size: rem-calc(16);
            $caption-xl-desktop-proxima-size: rem-calc(14);

            //Proxima XL Desktop line-height
            $h1-xl-desktop-proxima-line-height: rem-calc(72);
            $h2-xl-desktop-proxima-line-height: rem-calc(54);
            $h3-xl-desktop-proxima-line-height: rem-calc(42);
            $h4-xl-desktop-proxima-line-height: rem-calc(36);
            $h5-xl-desktop-proxima-line-height: rem-calc(30);
            $h6-xl-desktop-proxima-line-height: rem-calc(27);
            $paragraph-xl-desktop-proxima-line-height: rem-calc(24);
            $caption-xl-desktop-proxima-line-height: rem-calc(18);


            




@font-face {

    font-family: 'proxima';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'proxima_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'futura';
    src: url('../fonts/futura_icg_bold-webfont.eot');
    src: url('../fonts/futura_icg_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_icg_bold-webfont.woff') format('woff'),
         url('../fonts/futura_icg_bold-webfont.ttf') format('truetype'),
         url('../fonts/futura_icg_bold-webfont.svg#futura_icgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


$futura: 'futura', 'Arial Black', sans-serif;
$proxima: 'proxima', 'Gill Sans', Helvetica;
$proxima_bold: 'proxima_bold', 'Gill Sans', Helvetica;